/* General Layout */
.display-album-container {
    margin-top: 2.5rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .display-album-container {
      flex-direction: row;
      align-items: flex-end;
    }
  }
  
  /* Album Image */
  .album-image {
    width: 12rem;
    border-radius: 8px;
  }
  
  /* Album Info */
  .album-info {
    display: flex;
    flex-direction: column;
  }
  
  .album-info h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  @media (min-width: 768px) {
    .album-info h2 {
      font-size: 4.5rem;
    }
  }
  
  .album-info .album-description {
    margin-top: 0.25rem;
  }
  
  /* Playlist Header */
  .playlist-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    color: #a7a7a7;
  }
  
  @media (min-width: 640px) {
    .playlist-header {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .playlist-header img {
    width: 1rem;
    margin: auto;
  }
  
  /* Song Row */
  .song-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    color: #a7a7a7;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .song-row:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  @media (min-width: 640px) {
    .song-row {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .song-row img {
    width: 2.5rem;
    margin-right: 1.25rem;
  }
  
  .song-row p {
    font-size: 0.9375rem; /* 15px */
  }
  
  .song-row p.text-white {
    color: white;
  }
  
  .song-row p.text-center {
    text-align: center;
  }
  